.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

/*****************************************************************/

span.field-icon {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    right: 2rem;
    top: 0.7rem;
    color:gray;
    z-index: 2;
  }

.buttons-signup{
    display: flex;
}
.google-btn{
    width: 50%;
}
.facebook-btn{
    width:50%;
}
.btn-google{
    font-size: 0.7rem;
    width: 94%;
    background-color: white;
    -moz-box-shadow: 0 0 3px rgb(73, 66, 66);
    -webkit-box-shadow: 0 0 3px rgb(73, 66, 66);
    box-shadow: 0 0 3px rgb(73, 66, 66);
    
}
.btn-facebook{
    font-size: 0.7rem;
    width: 98%;
    background-color: white;
    -moz-box-shadow: 0 0 3px rgb(73, 66, 66);
    -webkit-box-shadow: 0 0 3px rgb(73, 66, 66);
    box-shadow: 0 0 3px rgb(73, 66, 66);
}
.btn-img{
    width: 10%;
    height: 100%;
    margin-right: 9px;

}

  /******************************Media Queries******************/
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .btn-google {
        font-size: 1.3vw;
    }
    .btn-facebook{
        font-size: 1.2vw;
    }
    ._4z_d ._4z_f {
    font-size: 8px;
    line-height: 14px;
    padding: 2px 6px;
}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .btn-google {
        font-size: 0.85vw;
    }
    .btn-facebook{
        font-size: 0.84vw;
    }
    ._4z_d ._4z_f {
        font-size: 8px;
        line-height: 14px;
        padding: 2px 6px;
    }
  } 

  /***************************************************************************/
    